@import "bootstrap/dist/css/bootstrap.min.css";

.card {
    background: white;
    width: 300px;
    height: 500px;
    font-size: 90px;
    font-family: "Playfair Display", serif;
    border-radius: 20px;
}

.flip {
  display: inline-block;
  transform: rotate(180deg);
}